* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Nunito', sans-serif;
}
.sample {
    height: 100vh;
    font-size: 48px;
    /* width: 100%; */
}

.d-grid {
    display: grid !important;
    align-items: center;
}

.fs-48 {
    font-size: 48px;
}
.fs-20 {
    font-size: 20px;
}
.fs-30 {
    font-size: 30px;
}

.nav-logo {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.neo-card {
    /* min-width: 180px !important;
    max-width: 180px !important; */
    width: 180px;
    height: 180px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin: 0 auto;
    border-radius: 35px;
    background: #ffffff;
    box-shadow:  10px 10px 20px #cccccc, 
                -10px -10px 20px #ffffff;
}

.neo-time-card {
    width: fit-content;
    padding: 30px 50px;;
    margin: 0 auto;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  10px 10px 20px #cccccc, 
                -10px -10px 20px #ffffff;
}