* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Nunito', sans-serif;
}
.sample {
    height: 100vh;
    font-size: 48px;
    /* width: 100%; */
}

.d-grid {
    display: grid !important;
    align-items: center;
}

.fs-48 {
    font-size: 48px;
}
.fs-20 {
    font-size: 20px;
}
.fs-30 {
    font-size: 30px;
}

.nav-logo {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}